.discover-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    .cta {
        .icon-section {
            display: flex;

            .icon {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                margin: 0.5rem;
                padding: 0.75rem;
                width: 100px;
                height: 100px;
                background-color: #202027;
                margin-bottom: 2rem;

                img {
                    width: 40px;
                }
            }
        }
    }

    .cover-img {
        width: 30vw;
        margin-left: 2rem;
        height: auto;
        max-width: 350px;
    }
}

@media (max-width: 800px) {
    .discover-main-section {
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .cta {
            .icon-section {
                justify-content: center;
            }
        }
        .cover-img {
            margin-top: 2rem;
            width: auto;
            height: 30vh;
        }
    }
}
